html, body {
    height: 100%;
  }

body {
    background: linear-gradient(to bottom right, #C9C6FB, #8A83E0);
    font-family: 'Varela Round', sans-serif;
    text-align:center !important;
}

p {
    font-size: medium;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
}

canvas {
    top:40% !important;
    border-radius: 20px;
    left:19% !important;
}  

.btn-white {
    font-size: medium;
    font-family: 'Manrope', sans-serif !important;
    font-weight: 600;
}

.modal-title {
    font-size: large !important;
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: 800;
}